@font-face {
    font-family: 'titleArticle';
    src: url('../src/font/Montserrat/Montserrat-MediumItalic.otf');
}

@font-face {
  font-family: 'article';
  src: url('../src/font/MPLUS1p/MPLUS1p-Light.ttf');
}

article>h2, h3{
  font-family: 'titleArticle';
}

p {
  font-family: 'article';
}
